Repository alex-min/ex_platform: changes, and which pre-commit hooks are due for each by the changed paths.
All: elixir_source_checks, elixir_format, elixir_dialyzer, eslint

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: elixir_source_checks
        name: Credo checks
        language: system
        entry: mix credo
        files: \.(ex|exs)$
        require_serial: true
    -   id: elixir_format
        name: Mix format
        language: system
        entry: mix format
        files: \.(ex|exs)$
        require_serial: true
    -   id: elixir_dialyzer
        name: Mix dialyzer (please wait, can take a long time)
        language: system
        entry: mix dialyzer
        files: \.(ex|exs)$
        require_serial: true
    -   id: eslint
        name: ESLint
        language: system
        entry: yarn run -s eslint
        args:
          - --fix
        files: \.(js|jsx|ts|tsx)$

only yarn is used
  .gitignore
Due: none

deployment with docker
  .dockerignore
  Dockerfile
  README.md
  config/prod.exs
  config/prod.secret.exs
  docs/deployment.md
  priv/docker-entrypoint.sh
Due: elixir_source_checks, elixir_format, elixir_dialyzer

Update README.md
  README.md
Due: none

adding comments to deps
  config/prod.secret.exs
  mix.exs
  mix.lock
Due: elixir_source_checks, elixir_format, elixir_dialyzer

fixing the email subject
  lib/ex_platform/accounts/user_notifier.ex
  test/ex_platform/accounts_test.exs
Due: elixir_source_checks, elixir_format, elixir_dialyzer

sentry integration
  README.md
  config/prod.secret.exs
  docs/sentry.md
  lib/ex_platform_web/endpoint.ex
  mix.exs
  mix.lock
Due: elixir_source_checks, elixir_format, elixir_dialyzer

dockerfile improvements
  Dockerfile
Due: none

db creation also works straight away
  config/prod.secret.exs
Due: elixir_source_checks, elixir_format, elixir_dialyzer

fixing production urls with host
  config/prod.secret.exs
Due: elixir_source_checks, elixir_format, elixir_dialyzer

wip upgrade
  .iex.exs
  .pre-commit-config.yaml
  .pre-commit/format-html.sh
  .tool-versions
  assets/css/app.scss
  assets/js/app.js
  config/config.exs
  config/dev.exs
  config/test.exs
  lib/ex_platform/accounts/user.ex
  lib/ex_platform_web.ex
  lib/ex_platform_web/controllers/user_auth.ex
  lib/ex_platform_web/hooks/current_user.ex
  lib/ex_platform_web/hooks/language.ex
  lib/ex_platform_web/live/live_helpers.ex
  lib/ex_platform_web/live/modal_component.html.heex
  lib/ex_platform_web/live/page_live.html.heex
  lib/ex_platform_web/live/user_session_live.html.heex
  lib/ex_platform_web/router.ex
  lib/ex_platform_web/templates/layout/_footer.html.heex
  lib/ex_platform_web/templates/layout/_menu.html.heex
  lib/ex_platform_web/templates/layout/_notification.html.heex
  lib/ex_platform_web/templates/layout/app.html.eex
  lib/ex_platform_web/templates/layout/live.html.heex
  lib/ex_platform_web/templates/layout/root.html.heex
  lib/ex_platform_web/templates/user_registration/new.html.eex
  mix.exs
  mix.lock
  package.json
  priv/repo/migrations/20211114161609_user_admin.exs
  tailwind.config.js
  test/ex_platform_web/controllers/user_auth_test.exs
  test/ex_platform_web/controllers/user_reset_password_controller_test.exs
  yarn.lock
Due: elixir_source_checks, elixir_format, elixir_dialyzer, eslint

missing upgrades
  assets/css/app.scss
  config/dev.exs
  lib/ex_platform_web/endpoint.ex
  lib/ex_platform_web/live/page_live.html.heex
  lib/ex_platform_web/templates/layout/_footer.html.heex
  lib/ex_platform_web/templates/layout/_menu.html.heex
  lib/ex_platform_web/templates/layout/_notification.html.heex
  lib/ex_platform_web/templates/layout/app.html.eex
  lib/ex_platform_web/templates/layout/live.html.heex
  lib/ex_platform_web/templates/layout/root.html.heex
  lib/ex_platform_web/templates/user_registration/new.html.eex
  lib/ex_platform_web/templates/user_session/new.html.eex
  package.json
  postcss.config.js
  priv/gettext/fr/LC_MESSAGES/errors.po
  tailwind.config.js
  yarn.lock
Due: elixir_source_checks, elixir_format, elixir_dialyzer, eslint

webpack cleanup
  README.md
  jest.config.js
  package.json
  testjs/hooks/validate-unused-hooks.test.js
  webpack.config.js
  yarn.lock
Due: eslint

webpack isn't used anymore
  .github/workflows/node.yml
  Dockerfile
  assets/js/app.js
  config/dev.exs
Due: elixir_source_checks, elixir_format, elixir_dialyzer, eslint

looks nicer
  config/dev.exs
Due: elixir_source_checks, elixir_format, elixir_dialyzer

better for the ci
  mix.exs
  mix.lock
Due: elixir_source_checks, elixir_format, elixir_dialyzer

html beautifier is not used anymore
  .github/workflows/code-quality.yml
Due: none

credo warnings
  lib/ex_platform_web/controllers/user_settings_controller.ex
  lib/ex_platform_web/hooks/current_user.ex
  lib/ex_platform_web/hooks/language.ex
  lib/ex_platform_web/live/modal_component.ex
Due: elixir_source_checks, elixir_format, elixir_dialyzer

package upgrades
  package.json
Due: none

better routing
  lib/ex_platform_web/router.ex
  lib/ex_platform_web/routes/accounts/api_routes.ex
  lib/ex_platform_web/routes/accounts/logged_routes.ex
  lib/ex_platform_web/routes/accounts/unlogged_routes.ex
  lib/ex_platform_web/templates/layout/_footer.html.heex
  lib/ex_platform_web/templates/layout/_menu.html.heex
  lib/ex_platform_web/templates/user_registration/new.html.eex
Due: elixir_source_checks, elixir_format, elixir_dialyzer

splitting up the routes
  lib/ex_platform_web/router.ex
  lib/ex_platform_web/routes/accounts/auth_routes.ex
  lib/ex_platform_web/routes/accounts/unlogged_actions.ex
  lib/ex_platform_web/routes/accounts/unlogged_routes.ex
Due: elixir_source_checks, elixir_format, elixir_dialyzer

looks nicer
  lib/ex_platform_web/router.ex
Due: elixir_source_checks, elixir_format, elixir_dialyzer

adding docs
  lib/ex_platform_web/router.ex
  lib/ex_platform_web/routes/accounts/api_routes.ex
  lib/ex_platform_web/routes/accounts/auth_routes.ex
  lib/ex_platform_web/routes/accounts/logged_routes.ex
  lib/ex_platform_web/routes/accounts/unlogged_actions.ex
Due: elixir_source_checks, elixir_format, elixir_dialyzer

missing
  lib/ex_platform_web/routes/accounts/logged_actions.ex
Due: elixir_source_checks, elixir_format, elixir_dialyzer

Better routing & bringing back the normal style (#299)
  lib/ex_platform_web/router.ex
  lib/ex_platform_web/routes/accounts/api_routes.ex
  lib/ex_platform_web/routes/accounts/auth_routes.ex
  lib/ex_platform_web/routes/accounts/logged_actions.ex
  lib/ex_platform_web/routes/accounts/unlogged_actions.ex
  lib/ex_platform_web/templates/layout/_footer.html.heex
  lib/ex_platform_web/templates/layout/_menu.html.heex
  lib/ex_platform_web/templates/user_registration/new.html.eex
Due: elixir_source_checks, elixir_format, elixir_dialyzer

the pipe makes checking the language at mount not useful
  lib/ex_platform_web/hooks/language.ex
  lib/ex_platform_web/live/page_live.ex
  lib/ex_platform_web/live/user_session_live.ex
Due: elixir_source_checks, elixir_format, elixir_dialyzer

more i18n
  priv/gettext/fr/LC_MESSAGES/errors.po
Due: none

moving alert to tailwind
  assets/css/app.scss
  config/dev.exs
  lib/ex_platform_web/templates/user_registration/new.html.eex
  lib/ex_platform_web/templates/user_session/new.html.eex
Due: elixir_source_checks, elixir_format, elixir_dialyzer

ex_cldr plugs have moved into their own hex package
  mix.exs
  mix.lock
Due: elixir_source_checks, elixir_format, elixir_dialyzer

update
  .tool-versions
  package.json
  yarn.lock
Due: none

fixed
  mix.exs
  mix.lock
  priv/cldr/locales/fr.json
Due: elixir_source_checks, elixir_format, elixir_dialyzer

fixing docker
  Dockerfile
Due: none
