Repository alex-min/ex_platform: changes, and which pre-commit hooks are due for each by the changed paths.
All: elixir_source_checks, elixir_format, elixir_dialyzer, eslint

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: elixir_source_checks
        name: Credo checks
        language: system
        entry: mix credo
        files: \.(ex|exs)$
        require_serial: true
    -   id: elixir_format
        name: Mix format
        language: system
        entry: mix format
        files: \.(ex|exs)$
        require_serial: true
    -   id: elixir_dialyzer
        name: Mix dialyzer (please wait, can take a long time)
        language: system
        entry: mix dialyzer
        files: \.(ex|exs)$
        require_serial: true
    -   id: eslint
        name: ESLint
        language: system
        entry: yarn run -s eslint
        args:
          - --fix
        files: \.(js|jsx|ts|tsx)$

fixing eslint
  assets/js/app.js
  assets/js/autoclear-notification.js
  jest.config.js
  testjs/hooks/autoclear-notification.test.js
  testjs/hooks/view-hook-test.js
Due: eslint

html formatting
  .github/workflows/code-quality.yml
  .gitignore
  .pre-commit-config.yaml
  .pre-commit/format-html.sh
  .tool-versions
  lib/ex_platform_web/live/page_live.html.leex
  lib/ex_platform_web/templates/layout/_menu.html.leex
  lib/ex_platform_web/templates/layout/_notification.html.leex
  lib/ex_platform_web/templates/layout/_user_menu.html.eex
  lib/ex_platform_web/templates/layout/app.html.eex
  lib/ex_platform_web/templates/layout/email_action.html.eex
  lib/ex_platform_web/templates/layout/live.html.leex
  lib/ex_platform_web/templates/user_confirmation/new.html.eex
  lib/ex_platform_web/templates/user_registration/new.html.eex
  lib/ex_platform_web/templates/user_reset_password/edit.html.eex
  lib/ex_platform_web/templates/user_reset_password/new.html.eex
  lib/ex_platform_web/templates/user_session/new.html.eex
  lib/ex_platform_web/templates/user_settings/edit.html.eex
Due: none

automerge
  .kodiak.toml
Due: none

add webpack
  .github/workflows/node.yml
Due: none

bundle
  .github/workflows/code-quality.yml
Due: none

beautifier
  .github/workflows/code-quality.yml
Due: none

indent
  .eslintrc.js
  assets/js/app.js
  assets/js/autoclear-notification.js
  babel.config.js
  jest.config.js
  postcss.config.js
  tailwind.config.js
  testjs/hooks/autoclear-notification.test.js
  testjs/hooks/view-hook-test.js
  testjs/setup-tests.js
  webpack.config.js
Due: eslint

readme
  README.md
Due: none

i18n
  README.md
  lib/ex_platform/accounts/user_notifier.ex
  lib/ex_platform_web/controllers/user_confirmation_controller.ex
  lib/ex_platform_web/controllers/user_registration_controller.ex
  lib/ex_platform_web/controllers/user_reset_password_controller.ex
  lib/ex_platform_web/controllers/user_session_controller.ex
  lib/ex_platform_web/controllers/user_settings_controller.ex
  lib/ex_platform_web/gettext.ex
  lib/ex_platform_web/templates/layout/_menu.html.leex
  lib/ex_platform_web/templates/layout/_notification.html.leex
  lib/ex_platform_web/templates/user_registration/new.html.eex
  lib/ex_platform_web/templates/user_reset_password/edit.html.eex
  lib/ex_platform_web/templates/user_reset_password/new.html.eex
  lib/ex_platform_web/templates/user_session/new.html.eex
  lib/ex_platform_web/templates/user_settings/edit.html.eex
  priv/cldr/locales/fr.json
  priv/gettext/app.pot
  priv/gettext/auth.pot
  priv/gettext/default.pot
  priv/gettext/en/LC_MESSAGES/app.po
  priv/gettext/en/LC_MESSAGES/auth.po
  priv/gettext/en/LC_MESSAGES/default.po
  priv/gettext/en/LC_MESSAGES/notification.po
  priv/gettext/errors.pot
  priv/gettext/fr/LC_MESSAGES/app.po
  priv/gettext/fr/LC_MESSAGES/auth.po
  priv/gettext/fr/LC_MESSAGES/default.po
  priv/gettext/fr/LC_MESSAGES/errors.po
  priv/gettext/fr/LC_MESSAGES/notification.po
  priv/gettext/notification.pot
Due: elixir_source_checks, elixir_format, elixir_dialyzer

icons
  assets/css/app.scss
  config/dev.exs
  lib/ex_platform_web/templates/layout/_menu.html.leex
  lib/ex_platform_web/templates/user_settings/edit.html.eex
  tailwind.config.js
Due: elixir_source_checks, elixir_format, elixir_dialyzer, eslint

icons
  lib/ex_platform_web/templates/user_settings/edit.html.eex
Due: none

specs
  test/ex_platform_web/controllers/user_settings_controller_test.exs
Due: elixir_source_checks, elixir_format, elixir_dialyzer

fixing search
  lib/ex_platform_web/live/page_live.ex
  lib/ex_platform_web/templates/layout/_menu.html.leex
Due: elixir_source_checks, elixir_format, elixir_dialyzer

wip footer
  lib/ex_platform_web/templates/layout/root.html.leex
Due: none

missing file
  lib/ex_platform_web/templates/layout/_footer.html.leex
Due: none

wip live view login
  .github/dependabot.yml
  .github/workflows/node.yml
  config/config.exs
  config/prod.exs
  lib/ex_platform/accounts/user.ex
  lib/ex_platform/application.ex
  lib/ex_platform_web/router.ex
  lib/ex_platform_web/templates/layout/_footer.html.leex
  lib/ex_platform_web/templates/layout/app.html.eex
  lib/ex_platform_web/templates/layout/live.html.leex
  lib/ex_platform_web/templates/layout/root.html.leex
  lib/ex_platform_web/templates/user_registration/new.html.eex
  lib/ex_platform_web/templates/user_reset_password/edit.html.eex
  lib/ex_platform_web/templates/user_reset_password/new.html.eex
  lib/ex_platform_web/templates/user_session/new.html.eex
  package.json
  postcss.config.js
  priv/gettext/app.pot
  priv/gettext/auth.pot
  priv/gettext/default.pot
  priv/gettext/en/LC_MESSAGES/app.po
  priv/gettext/en/LC_MESSAGES/auth.po
  priv/gettext/en/LC_MESSAGES/default.po
  priv/gettext/en/LC_MESSAGES/errors.po
  priv/gettext/errors.pot
  priv/gettext/fr/LC_MESSAGES/app.po
  priv/gettext/fr/LC_MESSAGES/auth.po
  priv/gettext/fr/LC_MESSAGES/default.po
  priv/gettext/fr/LC_MESSAGES/errors.po
  webpack.config.js
  yarn.lock
Due: elixir_source_checks, elixir_format, elixir_dialyzer, eslint

working better with live view
  assets/css/app.scss
  lib/ex_platform_web/live/user_session_live.ex
  lib/ex_platform_web/live/user_session_live.html.leex
Due: elixir_source_checks, elixir_format, elixir_dialyzer

simplify the logic
  config/prod.exs
  lib/ex_platform_web/controllers/user_session_controller.ex
  lib/ex_platform_web/live/user_session_live.html.leex
  lib/ex_platform_web/templates/user_session/new.html.eex
Due: elixir_source_checks, elixir_format, elixir_dialyzer

company name
  lib/ex_platform_web/templates/layout/_menu.html.leex
  lib/ex_platform_web/templates/layout/root.html.leex
Due: none

fixing webpack
  webpack.config.js
Due: eslint

upgrade elixir
  .tool-versions
Due: none

update erlang
  .tool-versions
Due: none

helpers
  lib/ex_platform_web/controllers/user_settings_controller.ex
  lib/ex_platform_web/live/live_helpers.ex
  lib/ex_platform_web/live/modal_component.ex
  lib/ex_platform_web/live/modal_component.html.leex
Due: elixir_source_checks, elixir_format, elixir_dialyzer

validating all hooks
  assets/js/app.js
  jest.config.js
  package.json
  testjs/hooks/validate-unused-hooks.test.js
  yarn.lock
Due: eslint

wording
  testjs/hooks/validate-unused-hooks.test.js
Due: eslint

documentation
  README.md
Due: none

better i18n plug
  lib/ex_platform_web/gettext.ex
  lib/ex_platform_web/plugs/i18n.ex
  lib/ex_platform_web/router.ex
Due: elixir_source_checks, elixir_format, elixir_dialyzer

removing comment
  lib/ex_platform_web/plugs/i18n.ex
Due: elixir_source_checks, elixir_format, elixir_dialyzer

add article link
  README.md
Due: none

add license
  LICENSE.md
Due: none

unused second package json
  assets/package.json
Due: none

use css-minifier and bump elixir/erlang versions
  .tool-versions
  package-lock.json
  package.json
  webpack.config.js
  yarn.lock
Due: eslint

Fixing README link
  README.md
Due: none

README typo and whitespace fix
  README.md
Due: none

only yarn is used
  package-lock.json
Due: none
